@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <style>
        #map {
            height: 400px;
        }
    </style>
</head>

    <body>
        <div id="map"></div>

        <script>
           
        </script>
    </body>
@* <script src="~/js/site.js"></script> *@

<script>
   
    var map = L.map('map').setView([50.4501, 30.5234], 6);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 18,
        attribution: '© OpenStreetMap contributors'
    }).addTo(map);

    fetch('/Events/GetLocations')
        .then(response => response.json())
        .then(data => {
            console.log('Data fetched from server:', data);

            data.forEach(function (event) {
                
                if (event.location && event.location.latitude && event.location.longitude) {
                    L.marker([event.location.latitude, event.location.longitude])
                        .addTo(map)
                        .bindPopup(`
                            <strong>${event.eventName}</strong><br>
                            <span>${event.eventDesc}</span>
                        `);
                } else {
                    console.error('Missing lat/lng for location:', event);
                }
            });
        })
        .catch(error => console.error('Error fetching locations:', error));


        </script>


   @*  <script>
        // Ініціалізуємо карту з центром в Києві
        var map = L.map('map').setView([50.4501, 30.5234], 13);

        // Додаємо тайли OpenStreetMap
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 18,
            attribution: '© OpenStreetMap contributors'
        }).addTo(map);

        // Додаємо маркер
        var marker = L.marker([50.4501, 30.5234]).addTo(map)
            .bindPopup('Це Київ!')
            .openPopup();
    </script> *@



